{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="settings">
    <h2>Настройки</h2>
    <ul class="settings-list">
        <li><a href="{% url 'users:change_password' %}" class="btn btn-primary">Изменить пароль</a></li>
        <li><a href="{% url 'users:change_email' %}" class="btn btn-primary">Изменить email</a></li>
        <li><a href="{% url 'users:change_username' %}" class="btn btn-primary">Изменить никнейм</a></li>
        <li><a href="{% url 'users:change_bio' %}" class="btn btn-primary">Изменить описание</a></li>
        <li><a href="{% url 'users:change_status' %}" class="btn btn-primary">Изменить статус</a></li>
    </ul>
</div>
{% endblock %}